<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Console</title>
    @Styles.Render("~/Content/cssadmin")
    @Scripts.Render("~/bundles/Main")
    
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>HP Petrolium</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li id="lnksubledger" class="active">
                        <a data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed" href="#">
                            Masters
                            <div class="collapse" id="toggleDemo" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li>
                                        <a href="@Url.Action("Index","Subledger")">Subledger</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","AccountType")">Account Types</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Customer")">Customer</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Vendor")">Vendor</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","UOM")">Unit of Measurment</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","ProductType")">Product Type</a>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li id="lnkactype"><a href="@Url.Action("Index","AccountType")">Account Types</a></li>
                    <li id="lnkcustomer"><a href="#section3">Family</a></li>
                    <li id="lnkproduct"><a href="#section3">Photos</a></li>
                </ul>
            </div>

            <div class="col-sm-9" id="mainbody">
               @RenderBody()
            </div>
         </div>
    </div>

    <footer class="container-fluid">
        <p>Footer Text</p>
    </footer>
    
</body>
</html>
